body {
    padding-top: 70px;
    background-image: url('../img/Nature-Detail-T.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width:100%;
}
.navbar-brand {
    font-family: 'Russo One', sans-serif;
}
h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    text-shadow: 2px 2px 4px grey;
}
h2 {
    text-shadow: 2px 2px 4px grey;
}
#status{
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px grey;
}
p {
    font-size: .75em;
    padding: 0;
    
}
i {
    text-shadow: 2px 2px 4px grey;
}
.container-fluid{
    height: 100%;
    width:100%;
    
}
#formBox{
    padding-top: 10px;
    padding-bottom: 40px;
    border: 1px solid black;
    background-color: #9BE69A;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
     border:1px solid Black;
     background-color: #e5e0e0;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-group-text {
    border: 1px solid black;
    background-color: #4bcc67;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#imgProduct {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4bcc67;
}

.modal-content {
    background-color: #9BE69A;
}
.navbar {
    background-color: #4bcc67;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-control-prev, .carousel-control-next {
    color: black !important;
}
.card {
    background-color: #ADDFB9;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.card:hover img {
    transition: all .2s ease-in-out;
    transform: scale(.95); /* CSS3 */
    -moz-transform: scale(.95); /* Firefox */
    -webkit-transform: scale(.95); /* Webkit */
    -o-transform: scale(.95); /* Opera */
    -ms-transform: scale(.95); /* IE 9 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover .productPrice {
    transition: all .2s ease-in-out;
    transform: scale(1.1); /* CSS3 */
    -moz-transform: scale(1.1); /* Firefox */
    -webkit-transform: scale(1.1); /* Webkit */
    -o-transform: scale(1.1); /* Opera */
    -ms-transform: scale(1.1); /* IE 9 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
i:hover {
   transition: all .2s ease-in-out;
    transform: scale(1.15); /* CSS3 */
    -moz-transform: scale(1.15); /* Firefox */
    -webkit-transform: scale(1.15); /* Webkit */
    -o-transform: scale(1.15); /* Opera */
    -ms-transform: scale(1.15); /* IE 9 */ 
}
.productPrice {
    font-size: 1em;
}
.basePrice {
    font-size: 0.8em;
}
#networks {
    background-color: #4bcc67;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    background-color: #28A745;
    
}
footer, a {
    color: #212529;
}
a:hover {
    color: black;
    transition: all .2s ease-in-out;
    transform: scale(1.1); /* CSS3 */
    -moz-transform: scale(1.1); /* Firefox */
    -webkit-transform: scale(1.1); /* Webkit */
    -o-transform: scale(1.1); /* Opera */
    -ms-transform: scale(1.1); /* IE 9 */ 
}
.btn:hover {
   color: black;
    transition: all .2s ease-in-out;
    transform: scale(1.1); /* CSS3 */
    -moz-transform: scale(1.1); /* Firefox */
    -webkit-transform: scale(1.1); /* Webkit */
    -o-transform: scale(1.1); /* Opera */
    -ms-transform: scale(1.1); /* IE 9 */  
}
body, .btn {
    width: 100%;
    margin-top: 8px;
    margin-bottom:8px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#searchBtn {
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu {
    background-color: #4bcc67;    
}
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be absolute position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (max-width: 362px) {
    h2 {
        font-size: 1.5em;
    }
}
td, tr, th{
    border-collapse:collapse;
    border:1px solid white;
    border-radius: 5px;
    background-color:#4bcc67;
}
table{
    text-align:center;
    padding-top: 15px;
    border-radius: 15px;
}
.card-body .btn:not(.btn-block) {
    width: 120px
    margin-bottom: 10px;
}
.card-header {
    
}
.card-footer {
    
}
#board {
    margin-bottom: 10px;
}
#board > img {
    box-shadow: none;
}
/* Ajoute Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}